@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --Purple: #aa506c;
  --Green: #668979;
  --Blue: #657b99;
  --Light: #eaeaea;
  --Dark: #444444;
}

html {
  background-color: var(--Light);
}

h1 {
  padding: 10px;
  margin: 10px;
}

.mainh2,
.sectionOneH3 {
  margin: 0;
  padding: 0;
  color: var(--Light);
  font-weight: -100px;
}

.mainHeader {
  background-color: var(--Purple);
  color: var(--Light);
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: xx-large;
}
.sectionOne {
  background-color: var(--Green);
  color: var(--Light);
  max-width: 90%;
  margin-left: 40px;
  margin-top: 10px;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
}

figcaption {
  background-color: var(--Blue);
  color: var(--Light);
}
figure {
  margin: 10px;
  padding: 5px;
}

.card1,
.card2,
.card3 {
  /* display: grid;
  grid-template-rows: repeat(3, 1fr); */
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
}

.cardHeader {
  font-size: 18px;
  color: var(--Light);
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1rem;
  margin: 0.5rem;
  max-height: 40px;
  max-width: 300px;
}
p {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 300;
}

.txtContainer {
  margin-left: 10px;
}

.cardBtn:hover {
  background-color: var(--Dark);
  color: var(--Light);
}

.cardBtn {
  font-size: 12px;
  color: #7a7a7a;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  margin-left: 100px;
}
